header.header
  .header__container
    a.header__brand(href='#home.html') PUERTORICOQuiz
    .links
      a.header__link(href='#quiz.html') Dashboard
      a.header__link(href='#quiz-form.html') Create a New Quiz
      a.header__link(href='') Logout
main.main__container
  .heading
    span Question Title
    span
      a.link(href='')
        i.fas.fa-edit
        span Edit
      a.link.linkSecondary(href='')
        i.fas.fa-trash
        span Delete
  div
    h2.headingSecondary
      | Choices
    ul.list
      li.list__item
        i.fas.fa-times.primary__text
        span.list__item__title Choice Title
        a.link(href='')
          i.fas.fa-edit
          span Edit
        a.link.linkSecondary(href='')
          i.fas.fa-trash
          span Delete
      li.list__item
        i.fas.fa-check.active__text
        span.list__item__title Choice Title
        a.link(href='')
          i.fas.fa-edit
          span Edit
        a.link.linkSecondary(href='')
          i.fas.fa-trash
          span Delete
      li.list__item
        i.fas.fa-times.primary__text
        span.list__item__title Choice Title
        a.link(href='')
          i.fas.fa-edit
          span Edit
        a.link.linkSecondary(href='')
          i.fas.fa-trash
          span Delete
      li.list__item
        i.fas.fa-times.primary__text
        span.list__item__title Choice Title
        a.link(href='')
          i.fas.fa-edit
          span Edit
        a.link.linkSecondary(href='')
          i.fas.fa-trash
          span Delete
    a.button.primary(href='') Add a new Choice
